.row.border-bottom
  nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
      .navbar-header
        a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#', style="padding: 8px 12px;")
          i.fa.fa-bars
        block search
      ul.nav.navbar-top-links.navbar-right
        li
          a(href='/')
            i.fa.fa-home
            | &nbsp;#{__('Retourner sur mineweb.org')}
