footer.footer
  .footer__copyright
    .container
      .row
        .col-md-6
          p &copy;2016 Best company
        .col-md-6
        p.credit.pull-right
          | Template by
          a.external(href='http://bootstrapious.com/landing-pages') Bootstrapious
// Javascript files
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='js/tether.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.cookie.js')
script(src='js/ekko-lightbox.js')
script(src='js/jquery.simple-text-rotator.min.js')
script(src='js/jquery.scrollTo.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/front.js')
