include ./layouts/head
include ./layouts/header

  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h1
              | This could be your perfect
              span.rotate startup intro site, landing page, bootstrap template
            h3.weight-300 It is SEO friendly, responsive and free.
        .row
          .col-md-12
            p
              | 500,000 users have already trusted
              a(href='http://bootstrapious.com') Bootstrapious templates
              | .
              br
              | Try it for yourself.
            form.form-inline.margin-top.sign-up-form
              input#email_intro.form-control(type='email', placeholder='name@company.com')
              input#submit_intro.btn.btn-primary(type='submit', value='Get started for FREE')
          .col-md-12.col-lg-8.col-lg-offset-2
            p.margin-bottom--zero
              img.img-responsive(alt='', src='img/features3.png')

include ./layouts/footer
