include ./layouts/head
include ./layouts/header

section#intro.text-intro.no-padding-bottom
  .container
      .row
        .col-md-12
          h1
            | This could be your perfect
            span.rotate startup intro site, landing page, bootstrap template
          h3.weight-300 It is SEO friendly, responsive and free.
      .row
        .col-md-12
          p
            | 500,000 users have already trusted
            a(href='http://bootstrapious.com') Bootstrapious templates
            | .
            br
            | Try it for yourself.
          form.form-inline.margin-top.sign-up-form
            input#email_intro.form-control(type='email', placeholder='name@company.com')
            input#submit_intro.btn.btn-primary(type='submit', value='Get started for FREE')
        .col-md-12.col-lg-8.col-lg-offset-2
          p.margin-bottom--zero
            img.img-responsive(alt='', src='img/features3.png')

section#customers.section.background-gray-lightest.padding--small
  .container
    .row
      .col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/kofola.png', title='Kofola', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/evian.png', title='Evian', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/cslink.png', title='CS Link', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/botas66.png', title='Botas 66 Concept store', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/mdfc.png', title='MediaFabríca', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/vanek.png', title='VANĚK Strojírenská výroba', data-placement='bottom', data-toggle='tooltip', alt='')


section#features.section
  .container
    .row.text-center-mobile
      .col-md-6
        .icon
          i.pe-7s-diamond
        h2 First great feature
        p Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed.
      .col-md-6
        p
          img.img-responsive(alt='', src='img/features1.png')

section.section.background-gray-lightest
  .container
    .row.text-center-mobile
      .col-md-6
        p
          img.img-responsive(alt='', src='img/features2.png')
      .col-md-6
        .icon.brand-terciary
          i.pe-7s-rocket
        h2 Second super feature
        p Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration unaffected its mrs literature. Behaviour new set existence dashwoods. It satisfied to mr commanded consisted disposing engrossed. Tall snug do of till on easy. Form not calm new fail.

section.section.no-padding-bottom
  .container
    .row
      .col-md-12.col-lg-8.col-lg-offset-2.text-center
        .icon.brand-secondary
          i.pe-7s-graph1
        h2 Third feature
        p Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration unaffected its mrs literature. Behaviour new set existence dashwoods. It satisfied to mr commanded consisted disposing engrossed. Tall snug do of till on easy. Form not calm new fail.
        p.margin-bottom--zero
          img.img-responsive(alt='', src='img/features3.png')
// *** FEATURES END ***

// *** TEXT ***
section#text.text-page.section-inverse.background-secondary
  .container
    .row
      .col-md-12
        h2.text-center Text page
        p.lead.text-center Age lived smile six defer bed their few. Had admitting concluded too behaviour him she.
        .row
          .col-sm-6
            p Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh.
            p Betrayed cheerful declared end and. Questions we additions is extremely incommode. Next half add call them eat face. Age lived smile six defer bed their few. Had admitting concluded too behaviour him she. Of death to or to being other.
          .col-sm-6
            p Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed.
            p Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration unaffected its mrs literature. Behaviour new set existence dashwoods. It satisfied to mr commanded consisted disposing engrossed. Tall snug do of till on easy. Form not calm new fail.
// *** TEXT END ***

// *** INTEGRATIONS ***
section#integrations.section-gray
  .container.clearfix
    .row.services
      .col-md-12
        h4.services-heading Integrations
        .row
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-alarm
              h4.heading Webdesign
              p Fifth abundantly made Give sixth hath. Cattle creature i be don&apos;t them.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-cloud
              h4.heading Print
              p Advantage old had otherwise sincerity dependent additions. It in adapted natural.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-coffee
              h4.heading SEO and SEM
              p Am terminated it excellence invitation projection as. She graceful shy.
        h4.services-heading TOOLS
        .row
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-monitor
              h4.heading Consulting
              p Fifth abundantly made Give sixth hath. Cattle creature i be don&apos;t them.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-signal
              h4.heading Email Marketing
              p Advantage old had otherwise sincerity dependent additions. It in adapted natural.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-id
              h4.heading UX &amp; UI
              p Am terminated it excellence invitation projection as. She graceful shy.
// *** INTEGRATIONS END ***



include ./layouts/footer
