extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h3.heading #{__("Conditions générales de vente et d'utilisation")}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          article

            h4 VUE D’ENSEMBLE

            | Ce réglement s'applique à tous produit mis en vente (gratuit ou non) sur le market de mineweb.org, ne pas le respecter peut entraîner une suppression de l'extension (plugin ou thème) ainsi qu'une suppression de votre grade de développeur sans préavis.
            
            h4 Utilité

            | Le plugin devra avoir un but précis, l’idée du plugin ne devra pas être bâclée. Si possible, il existe une liste gérée par Eywek qui énonce les diverses propositions de plugin de la part des utilisateurs de Mineweb.

            h4 Originalité

            | Le plugin / thème devra être original, par exemple imaginons qu’un CMS sort un plugin de Machine à sous, c’est une bonne idée d’en développer un pour Mineweb mais une initiative ajoutant de nombreuses options ne seraient pas des moindres. (Ajouter de multiples options / originalité ).

            h4 Présentation

            | Une description claire et précise du produit devra être fournit pour éviter une perte de temps aux utilisateurs. (ex : Screen, liens, texte, url, paramètres ...)

            h4 Droits d’auteurs

            | Chaque développeurs peut regarder le code d’autrui, il a parfaitement le droit de regarder comment marche une fonction, mais en aucun cas, il n’a le droit de copier tout un bloc de code. Essayez de partir depuis une arborescence de fichier vide et donc de ne pas copier / coller tout un thème pour y faire des modifications. Si vous utilisez des vendors veillez à laisser les copyrights/ lien github / nom des namespaces. Si vous utilisez des templates trouvés sur internet, veillez à laisser les copyrights de l’auteur (ThemeForest)

            h4 Mise en vente 	

            | Lorsque vous voulez mettre en vente un thème/plugin, le prix va devoir être en correspondance avec la qualité et le travail fournis. Le respect de toutes les autres règles sera donc aussi impératif au niveau de la cohésion du prix. Si nous trouvons que le prix ne correspond pas avec votre travail nous nous réservons le droit de modifier ou de demander la modification de ce paramètre.

            h4 Concurrence

            | N’oubliez pas que vous n’êtes pas le seul sur le market, les règles de concurrence s’appliquent donc aussi : Ce n’est pas au staff de Mineweb de s’occuper de réguler les différences de prix en fonction de chaque développeurs, ce sera donc à vous et à vous seul de vous adapter à la concurrence.

            h4 Support 

            | Vous vous devez d’essayer de maintenir au minimum des mise à jours et améliorations de vos thèmes/plugins afin de garantir une fiabilité de vos produits et afin de garantir un minimum de problème. Un bug ne doit pas rester trop longtemps à la vue de tous et doit être patch le plus rapidement possible.  Si jamais vous êtes dans l’incapacité de faire ces mise à jours, vous pouvez demander via le support de minweb de transférer votre thème/plugin à un autre développeur. Essayez de ne pas sortir de nouveaux plugins / thème si vos précédents développement comportent des bugs.

            h4 Discord

            | Une fois posté un produit sur le market, vous devrez vous assurer d’être présent sur le Discord Officiel de Mineweb afin de discuter plus facilement / rapidement avec le support / utilisateur de votre produit.Faire acte de présence et le fait de répondre rapidement aux réponses des utilisateurs montre votre implication dans ce que vous faites.

            h4 Coopération

            | Comme énoncé précédemment, un Discord est mis à la disposition de tous avec un chanel spécialement pour les développeurs et le staff de Mineweb. Vous pourrez donc faciliter la communication si il y a un conflit entre vos deux produits. Peut-être pourrez vous trouvez un développeur qui veut s’impliquer dans votre projet / vous aider / vous donner des conseils.s

block customCss
  style.
    h4 {
      margin-top:35px;
      text-transform: uppercase;
    }
