/*
    FONTS
*/

@font-face {
  font-family: 'Ridge';
  src: url('../fonts/Ridge-Regular-webfont.eot');
  src: url('../fonts/Ridge-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Ridge-Regular-webfont.woff2') format('woff2'),
       url('../fonts/Ridge-Regular-webfont.woff') format('woff'),
       url('../fonts/Ridge-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Ridge-Regular-webfont.svg#ridgeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
  GLOBAL
*/

html, body { height:100%; }

#all {
  position: relative;
  min-height: 100%;
}

#main {
  position: relative;
  min-height: 100%;
	padding-bottom: 126px;
}

b {
  font-weight:bold;
}

.text-center {
  text-align: center;
}

.right-vertical-separator {
  border-right: 1px solid rgb(217, 217, 217);
}
.left-vertical-separator {
  border-left: 1px solid rgb(217, 217, 217);
}

.lead small {
  font-size: 70%;
}
.lead small em {
  font-weight: 300;
}

ul.features {
  list-style-type:none;
}
ul.features li {
  font-size: 18px;
}

i.fa.circle {
  padding: 8px 10px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

/*
  FOOTER
*/

footer {
  /*margin-top: 60px;*/
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 69px;
}

footer .footer__copyright {
  background-color: #102428;
}

/*
  SECTION
*/

section.mini-section {
  padding-top: 60px;
  padding-bottom: 40px;
}

section h3.heading {
  text-align: center;
  margin-bottom: 40px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(85, 85, 85);
}

section h3.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto 20px;
  background: #2b90d9
}

section h3.heading p {
  font-size: 40%;
  font-style: italic;
  color: #818a91;
}

section h4 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: rgb(85, 85, 85);
  margin-bottom: 30px;
}

/*
  LIST
*/

.version-listing {
    border: solid 1px #eee;
    border-bottom: none;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 15px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.version-listing:before, .job-listing:after {
    content: " ";
    display: table
}

.version-listing:after {
    clear: both
}

.version-listing.selected {
    border-left: solid 5px #2b90d9;
    padding-left: 15px
}

.version-listing:hover {
    background: #fafafa
}

h4.version {
    margin-top: 0;
    font-family: 'Montserrat';
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
}

p.version_changelog {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: none;
}

ul.changelog {
  list-style-type:none;
  padding-left: 10px
}

ul.changelog li:before {
  content: "- "
}

ul.changelog span.type {
  font-weight: bold;
  font-style: italic;
}


/*
  NAVBAR
*/

.navbar .navbar-header a.navbar-brand {
  position: relative;
}

.navbar .navbar-header a.navbar-brand span.site_name {
  font-family: 'Ridge';
  color: #2880cc;
  font-size: 40px;

  position: absolute;
  bottom: 28px;
}

.navbar-default .navbar-nav > li > a,
.navbar-toggle {
  color: #2880cc;
}

/*
  CUSTOMERS
*/

.customer img {
  /*width: 100%;*/
  height: 100px;
}

/*
  INTRO
*/

a#submit_intro {
  text-decoration: none;
}

/*
  SECTION
*/
section.background-secondary {
  background: #4fb0c6;
  border-top: solid 1px #2b7484;
  border-bottom: solid 1px #2b7484;
}

/*
  TABS
*/

.nav.nav-tabs>li>a:focus,
.nav.nav-tabs>li>a:hover,
section.background-gray-lightest .nav.nav-tabs>li>a.active {
  background-color: transparent;
}

.tab-content {
  padding-top: 40px;
}

/*
  Alerts
*/

.alert h2 {
    margin-top: 0px;
    font-weight: 300;
}

.alert {
    border-radius: 2px;
    font-family: 'Open Sans';
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.alert.alert-warning {
    border-left: #db9b15 3px solid;
    color: #db9b15;
}

.alert.alert-info {
    border-left: #31708f 3px solid;
}

.alert.alert-success {
    border-left: #3c763d 3px solid;
}

.alert.alert-danger {
    border-left: #a94442 3px solid;
}

.alert.alert-danger a {
  color: #a70315;
  text-decoration: underline;
}

/*
  BUTTONS
*/

.btn-pay {
  -webkit-transition: border .4s;
  -moz-transition: border .4s;
  -ms-transition: border .4s;
  -o-transition: border .4s;
  transition: border .4s;
  border: 2px solid #DADADA;
  border-radius: 5px;
  padding: 14px 14px;
  display: inline-block;
  background: #FCFCFC;
  color: #777;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-pay:hover:not(.disabled),
.btn-pay.active {
  text-decoration: none;
  border: 2px solid #2065a1;
  color: #777;
}

.btn-pay i {
  font-size: 50px;
  color: #0082b9;
}

.btn-pay h5 {
  font-size: 20px;
  font-weight: normal;
  font-family: Roboto;
  color: #777;
}

.btn-pay span {
  font-size: 15px;
  font-weight: normal;
  color: #777;
}

.btn-pay:not(.active) {
  opacity: 0.8;
}

/*
  INVOICE
*/

@media (max-width: 544px) {
  .table.invoice tbody tr td:nth-child(1) {
    width: 30%;
  }
  .table.invoice tbody tr td:nth-child(2) {
    width: 52%;
  }
  .table.invoice tbody tr td:nth-child(3) {
    width: 18%;
  }
}

@media (min-width: 544px) {
  .table.invoice tbody tr td:nth-child(1) {
    width: 30%;
  }
  .table.invoice tbody tr td:nth-child(2) {
    width: 30%;
  }
  .table.invoice tbody tr td:nth-child(3) {
    width: 15%;
  }
}

@media (min-width: 992px) {
  .table.invoice tbody tr td:nth-child(1) {
    width: 50%;
  }
  .table.invoice tbody tr td:nth-child(2) {
    width: 40%;
  }
  .table.invoice tbody tr td:nth-child(3) {
    width: 10%;
  }
}

.table.invoice #checkVoucher {
  margin-left: -3px;
  padding: 7px 12px;
}


/*
  MARKET
*/

.row.market-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row.market-item img {
  width: 100%
}

.row.market-item h3 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 32px;
}

.row.market-item p.market-item-desc {
  font-size: 18px;
  margin: 20px 0;
}

.row.market-item p.market-item-infos {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 19px;
  margin: 20px 0;
}

/*
  MODAL
*/

h4.modal-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
